.wrapper {
  position: relative;
}

.upperWrapper {
  margin-bottom: -14%;
  z-index: 10;
  position: relative;
}

.bottomBar {
  background-color: white;
  padding-top: 15%;
  position: relative;
}

.Ellipse {
  position: absolute;
  top: -70%;
  left: -30%;
  z-index: -1;
}

@media (max-width: 500px) {
  .upperWrapper {
    margin-bottom: -130px;
  }
  .bottomBar {
    padding-top: 90px;
  }
}
